/*navigation-bar*/
nav{
	background-color: #6f4e37;
}
.container img{
	margin-left: -55px;
}
/*Quotes*/
.quote{
	display: block;
	text-align: center;
	font-size: 80px;
	margin-left: -15px;
	margin-right: -15px;
	color: #6f4e37;
	font-family: helvetica;
	font-style: normal;
	font-variant: normal;
	}
/*Author-name*/
.author-name{
	font-size: 40px;
	color: #6f4e37;
	text-align: center;
	font-family: pacifico;
}
/*Footer*/
footer{
	background-color: #6f4e37;
    text-align:center;
	width: 100%;
	height: 100px;
	top:0;
	display: inline;
	}

.connect-on{
	text-align: center;
}

.connect-on{
	margin-top: 50px;
}

.social{
	font-size: 1.75em;
	text-align: center;
}
.connect-on p{
	font-size: 25px;
}
/*3-column-section*/
 .g11 a{
	color: #6f4e37;
	font-size: 30px;
	text-decoration: none;
	font-family: helvetica;
}
.g22 a{
	color: #6f4e37;
	font-size: 30px;
	list-style: none;
	text-decoration: none;
	font-family: helvetica;
}

.g11 a:hover{
	color: rgb(128,0,0);

}
.g11 a{
	font-size: 20px;
}
.g11 blockquote{
	font-size: 20px;
	text-align: justify;
}
.g22 a:hover{
	color: rgb(128,0,0);
}
.g11 img{
	margin-bottom: 15px;
}
#col-grid{
	margin-top:30px;
}
.g22{
	margin-left: 600px;
}
.r21{
	padding-top: 30px;
}
.r31{
	padding-top: 30px;

}
.r21 img{
	padding-left: 60px;
}
.r31 img{
	padding-left: 70px;
}
.g22 a{
	padding-left: 50px;
}
.grid_3 img{
	margin-top: 20px;
	width: 200px;
	height: 250px;
	}
.grid_3 h6{
	width: 200px;
	font-size: 28px;
}
/*Carousel*/
.carousel{
    background: #2f4357;
    margin-top: 20px;

}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.slide-show{
	margin: 20px;
}
.slide-show{
	padding-top: -999px;
}
.carousel-inner img{
	max-width: 100%;
	display: block;
	height: 1080PX;
	width: 1920px;
	height: auto;
}

/*jumbotron*/
.Read-Review{
	margin: 20px;
}
.Read-Review p{
	font-size: 20px;
	text-align: justify;
}
/*Drop-down menu*/
.dropdown-menu a{
	background: #6f4e37;
}
.dropdown-menu a{
			float: right;
}

/*tabbed-pane*/
.tab-pane img{
	width: 250px;
	height: 250px;
}
.col-sm-6 a:hover{
	color: rgb(128,0,0);
	text-decoration:none; 
}

.col-sm-6{
	text-align: center;
	margin-left: 300px;
}
.container button{
	margin-left: 750px;
}
/*Media-queries*/
@media (min-width: 768px){
	.nav-bar li{
		margin-left: 10px;
	}
}
@media (min-width: 1024px){
	.nav-bar li{
		margin-left: 2px;
	}

