/*Navigation Bar*/
.navbar-brand img
{
	width: 100px;
	height: 100px;
	margin: 0px;
}
.active a
{
	font-size: 22px;
}



/*Carousel*/
.carousel
{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item
{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.slide-show
{
	margin: 20px;
}
.slide-show
{
	padding-top: -999px;
}
.carousel-inner img
{
	max-width: 100%;
	display: block;
	height: 1080PX;
	width: 1920px;
	height: auto;
}
#myCarousel{
	margin-top: 85px;
}




/*Grid section*/

.article img{
	width: 300px;
	height: 150px;
	padding: 20px;
}
.tab-content img{
	max-width: 100%;
	display: block;
	height: auto;
}
.row_3 img{
	padding-top: 20px;
}
#country img{
	margin: 0 0 20px;

}
#series .article{
	align-items: center;
}
#series{
	padding: 28px;
	text-align: center;
}
#quote{
	text-align: center;
}
.author-name{
	font-family: pacifico;
	text-align: center;
}




/*tabbed pane*/

.col-sm-6{
	text-align: center;
}
.col-sm-6 a{
	padding-right: 20px;
}


/*footer*/
footer{
	background: grey;
	text-align:center;

}
footer-sec{
	font-size: 1.75em;
	
	
}



/*media queries*/
@media (max-width: 768px)
{
	.article img
	{
		padding: 30px;
		width: 300px;
		height: 150px;
		margin-left: -45px;
	}
}

@media (max-width: 1440px)
{
	.active a
	{
		font-size: 20px;
	}
	
	.navbar-brand img
	{
		width: 150px;
		height: 100px;
	}
	.newsletter
	{
		font-size: 15px;
	}
	.connect-on
	{
		font-size: 15px;
	}
	.social
	{
		font-size: 1.5em;
	}
	.nav navbar-nav a:hover
	{
		color: blue;
	}
@media (max-width: 425px)
{
	.article img
	{
		text-align: auto;
		padding-left: 60px;
	}
}